*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

.log{
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  gap: 15px;
  width: 20%;
  /*border: solid blue 2px;*/
  
 /*align-items: flex-start;
 display: flex;
 flex-direction: column;
 width: 30px;
 align-content: center;
 padding-left: 30%;*/
 
}
.main{
  
  /*border: solid 2px blue;*/
  align-content: center;
  padding-left: 30%;
  
  

}


#img{
   align-items: center;
   display: flex;
   flex-direction: column;
   align-content: center;
}